<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h>여기는 detail.ejs입니다</h>
    <div align="center">
    <table border = "1">
        <col width="70"><col width="600">
        <tr>
            <th> ID</th>
                <td><%= data.notice_id %></td>
        </tr>
        <tr>
            <th>작성자</th>
                <td><%= data.writer %></td>
        </tr>
        <tr>
            <th> 제목</th>
                <td><%= data.title %></td>
        </tr>
        <tr>
            <th> 내용</th>
                <td><%= data.content %></td>
        </tr>
        <tr>
            <th> 날짜</th>
                <td><%= data.regdate %></td>
        </tr>
    </table>
    </div>
</body>
</html>